<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="3.11.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.IEDriver" version="3.11.1" targetFramework="net46" />
</packages>