@using BulletinBoard.Helpers

@inject SignInManager<ApplicationUser> SignInManager
@if (SignInManager.IsSignedIn(User) && User.IsInRole(RoleHelper.Administrator))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="JobType" asp-action="Index">Type</a></li>
        <li><a asp-area="" asp-controller="JobCategory" asp-action="Index">Category</a></li>
    </ul>
}
