@using BulletinBoard.Helpers
@using BulletinBoard.Services.Abstract

@inject IAuthService AuthService
@if (await AuthService.IsSignedIn(User) && await AuthService.IsInRole(await AuthService.GetSignedUser(User), RoleHelper.Administrator))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Role" asp-action="Index">User roles</a></li>
        <li><a asp-area="" asp-controller="JobType" asp-action="Index">Types</a></li>
        <li><a asp-area="" asp-controller="JobCategory" asp-action="Index">Categories</a></li>
    </ul>
}
