@{
    ViewData["Title"] = "403 - Access denied";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">403 - You do not have access to this resource.</p>
</header>
