@using BulletinBoard.Models.ErrorViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Response:</strong> <code>@Model.Response</code>
    </p>
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
