@model BulletinBoard.Models.JobCategoryViewModels.DeleteJobCategoryViewModel

@{
    ViewData["Title"] = "Delete - Job Category";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="@Model.Name"></label>
        </dt>
        <dd>
            <p asp-display-for="@Model.Name"></p>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.JobCategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        <a asp-action="Index" class="btn btn-default btn-sm">Back to list</a>
    </form>
</div>
